@font-face {
    font-family: 'menastandard';
    src: url('menastandard-regular-webfont.woff');
  }

body {
  margin: 0;
  display: flex;
  flex-direction: row;
}

main {
  background-color: white;
  min-height: 90vh;
  width: 75vw;
  margin: 5vh 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sidebar {
  background-color: #cccccc;
  height: 100vh;
  width: 15vw;
  color: white;
}

#logo {
  width: 65%;
  height: auto;
}

nav {
  margin: auto 10px auto 10px;
  font-family: 'menastandard';
    font-size: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;

}

a:hover {
  color: #ff6666;
}

.dropbtn {
  color: white;
  text-decoration: none;
  font-size: 40px;
  border: none;
  background-color: #cccccc;
  font-family: 'menastandard';
  padding: 0px;
}

.dropbtn:hover {
  color: #ff6666;
}

.dropdown-content {
  display: none;
  font-size: 30px;

  }

.show {
    display: flex;
    flex-direction: column;
}

#year {

}

h1 {
  display: flex;
  margin-top: 0px;
}

article {
  display: flex;
  flex-direction: column;
  flex: 2;
  font-family: 'Roboto', sans-serif;
}

section{
  display: flex;
  flex-direction: column;
  flex: 1;
}

img {
  max-width: 70%;
  max-height: auto;
  width: 100%;
  height: 100%;
  margin-bottom: 5vh;
}

.about-pics {
  margin-left: 5vw;
}

#social-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'menastandard';
  color: #ff6666;
}
