body {
  margin: 0;
  display: flex;
  flex-direction: row;
}

main {
  background-color: yellow;
  height: 100vh;
  width: 82.5vw;
}

#sidebar {
  background-color: purple;
  height: 100vh;
  width: 17.5vw;
}

ul {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
